body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(78, 83, 131);
    /* opacity: .3; */
}
.container{
    margin: 0 auto;
    width: 40vw;
    height: 100vh;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-zone{
    /* background-color: red; */
    width: 70%;
    height: 80%;
}

table{
    border-collapse: separate;
    width: 100%;
    height: 10%;
    filter: contrast(1%);
}

/* td:first-child + td + td{
    position: absolute;
} */

td{
    border: .5px solid #efefef;
    text-align: center;
    /* width: 20%; */
    font-size: 2em;
    border-radius: 10%;
    box-shadow: 1px 1px 3px #aeaeae;
    cursor: pointer;
}

td:hover{
    background-color: #b9b7b7;
}

.score{
    height: 20vh;
    /* z-index: 1000; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-color: rgba(222, 184, 135, 0.39);
}

noscript{
    position: absolute;
    color: #efefef;
    background-color: #121212;
    /* display: inline-block; */
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    line-height: 100vh;
}